@import "./../App/vars";

.cart-footer {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    column-gap: 30px;


    padding: 19px 0;
    background-color: #EAEFF2;
    border: 2px solid #7db1ac;
    

    font-weight: 700;
    font-size: 18px;
    line-height: 1.2;
    
    @media (max-width: $mobile) {
        padding-left: 15px;
        padding-right: 15px;
        grid-template-columns: 1fr 1fr;

    }

    @media (max-width: $mobile400) {
        grid-template-columns: 1fr;
        row-gap: 12px;
    }
}
.cart-footer__count {
    grid-column-start: 2;
    @media (max-width: $mobile) {
        grid-column-start: 1;
    }
}
